.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:13.52pt;text-decoration:none;text-transform: none;color:#FFFFFF;letter-spacing:0.03em;}
.Heading_1 {font-family:Arial;font-weight:bold;font-style:normal;font-size:24.79pt;text-decoration:none;text-transform: none;color:#FFFFFF;letter-spacing:0.03em;}
.Heading_2 {font-size:18.5pt;}
.Normal_text_a {font-family:Arial;font-weight:normal;font-style:normal;font-size:14.97pt;text-decoration:none;text-transform: none;color:#FFFFFF;letter-spacing:0.03em;}
.Heading_3 {font-size:17.07pt;color:#000000;letter-spacing:0em;}
